GameEngine/Animation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Animations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="Animation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Frames">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded"  minOccurs="1" name="Frame" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Loop" type="xs:string" use="optional" />
            <xs:attribute name="SpriteSheet" type="xs:string" use="required" />
            <xs:attribute name="FrameDelay" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>